<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../static/css/test.css">
</head>
<body>
    <header id="header">
        <nav id="nav-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="./ketfeature.html">Services</a></li>
                <li><a href="./bookappointment.html">About us</a></li>
                <li><a href="./history.html">Our Location</a></li>
                <li><a href="./findus.html">Patient Safety</a></li>
                <li><a href="./bookappointment.html">Book Appointment</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="home">
            <div class="text-section">
                <h2>We know how to</h2>
                <h1>Keep Your <br> Smile <br> Clean and Great </h1>
            </div>
            <img class="girl_homepage" src="../static/images/girl home page.png" alt="Girl Home Page">
        </div>
    </main>
    
</body>
</html>